main{
  margin-top: 80px;
 
}

.text{
 text-decoration:  underline;
font-size: 17px;
font-weight: 400;

line-height: 28px;
 margin: 18px 0 12px;

}
.text2{
 
font-size: 17px;
font-weight: 700;
line-height: 15px;
margin-bottom: 24px;


}

.fflexbox{ 
  
  width: 986px;
  flex-wrap: wrap;
    display: flex;
    flex-direction:row;
    row-gap: 22px;
    column-gap: 18px;
   justify-content: center; 
   background: #D4D3D8;
   margin: 0 auto;
}


.card{
  background-color:  #FFFFFF;
  width: 316px;
  height: 184px;
  
   /* border: solid #DEE2E6; */

 text-align: center;
  /* justify-content: center;
   align-items: center; */
}


.img{
  height: 48px;
 font-size: 48px;
 



  margin-top: 24px;
  margin-bottom: 18px;
}