@import url("./reset.css");
@import url("./header.css");

body { 
    font-family: 'Inter', sans-serif;
    background: #D4D3D8;
    color:  #3F444A;

}

.container{
    display: block;
 margin: 0 auto;
 width:  1440px;
box-sizing: content-box;
}



